main div {
    margin: auto;
    height: 800px;
    width: 80%;
    display: flex;
    justify-content: center;
}

div img {
    width: 70%;
    height: 70%;
}

.text__construction {
    height: auto;
    position: relative;
    bottom: 130px;
}

.spinner-border {
    margin: 0;
    margin-left: 30px;
    color: rgba(207, 159, 54, 0.911);
}