:root {
	--primario: rgb(42, 225, 144);
	--secundario: #000;
    --subTitulos : rgb(43, 247, 120);
	--box-shadow: rgba(42, 225, 144, 0.322);
}

* {
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed ;
    top: 0 ;
    z-index: 1000 ;
    background-color: rgb(42, 225, 144);
    margin-top: 0px;
    width: 100%;
}

.logo__container {
    margin-left: 20px;
    max-width: 100px;
}

.logo__container img {
    width: 35px;
    transform: scale(3);
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

.nav-link:hover {
    color: rgba(0, 0, 0, 0.76) !important;
}
main {
    margin-top: 72px;
}
body {
    height: 100vh;
    scroll-behavior: smooth;
}
.carousel {
    max-height: 415.25px;
    overflow: hidden;
}

.border-dark {
    border-bottom: 1px solid rgba(0, 0, 0, 0.267) !important;
}


.welcome__text {
    width: 60%;
    min-width: 330px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.103);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.247);
    border-radius: 10px;
    margin-top: 40px;
    padding: 40px 20px;
}

/* CARDS */

.card {
    height: 100%;
    transition: transform .5s ease;
    cursor: default;
    background-color: rgba(77, 77, 77, 0.082);
}

.card:hover {
    transform: scale(1.05);
}

.card-body h5 {
    height: 48px;
    text-align: center;
    font-weight: 600;
}

.img-fluid {
    margin-bottom: 10px;
}

/* NAVBAR */ 

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 0.801);
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

hr:not([size]){
    margin: 35px 0;
    background: #27cb3b;
    box-shadow: 1px 1px 12px 9px #2bdb2d;
}

h2, h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;

}

.card-body button:hover {
    color: #dc3545;
    background-color: white;
}

.card-body button {
    position: relative;
    bottom: 0;
}

#footer__bottom {
    color: white;
    background: rgba(0, 0, 0, 0.486);
}

.contacto {
    font-size: 16px;
}

#footer__bottom p {
    margin-top: 15px;
}

.icons__container {
    width: 300px;
    margin: auto;
}

ul {
    display:flex !important;
    padding: 20px;
    list-style: none;
    justify-content: space-between;
    margin: .4rem 0;
}

ul li i{
    border: 2px solid white;
    padding: 10px 14px;
    border-radius: 50%;
    cursor: pointer;
    list-style: none;
    color: white;
    font-size: 15px;
}

ul li i:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.774);
}

.footer__links p, .footer__description p, .footer__copyright p {
    font-size: 13px;
    font-weight: 400;
}


@media (max-width: 980px) {
    .navbar-collapse {
        margin-top: 20px;
    }
}